{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Welcome {{username}}</a>
      <a class="nav-item" style="color: black;text-decoration: none" href="/userappt/">My Appointments</a>
    <!--<form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form> -->
    <a href="/userlogout/" class="btn btn-danger">logout</a>
  </div>
</nav>
{% for message in messages%}
<p style="color: green; text-align: center">{{message}}</p>
{% endfor %}

<div class="container" style="margin: auto;width: 800px;">
    <table style="width: 70%">
    <tr>
        <th>Doctor</th>
        <th>Speciality</th>
        <th>Schedule</th>
        <th>Book Appointment</th>
    </tr>
    {% for doctor in doctors %}
    <tr>
        <td>{{doctor.name}}</td>
        <td>{{doctor.speciality}}</td>
        <td>{{doctor.schedule}}</td>
        <td><a href="/bookappt/{{doctor.id}}" class="btn btn-outline-success">Book</a></td>
        <!--<td><input type="submit" style="float: right;margin-top: 100px" class= "btn btn-outline-success" value="Book" name="{{doctor.name}}"</td>-->
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}